rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow anyone to create a new contact submission, but do not allow
    // them to read, update, or delete existing submissions.
    match /contactSubmissions/{submissionId} {
      allow read, update, delete: if false;
      allow create: if true;
    }

    // Allow anyone to create a new quote submission, but do not allow
    // them to read, update, or delete existing submissions.
    match /quoteSubmissions/{submissionId} {
      allow read, update, delete: if false;
      allow create: if true;
    }

    // Allow anyone to create a new demo submission, but do not allow
    // them to read, update, or delete existing submissions.
    match /demoSubmissions/{submissionId} {
      allow read, update, delete: if false;
      allow create: if true;
    }
  }
}
